:root {
  --yellow: #fda214;
  --light-yellow: #ffb84a;
  --blue-grey: #bcced9;
  --dark-blue: #304859;
  --dark-navy-blue: #152938;
  --light-grey: #f2f2f2;
  --muted-blue-grey: #7191a5;
  --medium-blue: #6395b8;
  --very-light-grey: #fcfcfc;
  --light-blue: #dfe7ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
}

/* <!-- Game setup start --> */

.setup__section {
  background-color: var(--dark-navy-blue);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setup__container {
  padding: 0 2rem;
  max-width: 72rem;
}

.primary__heading {
  color: var(--very-light-grey);
  font-size: 4rem;
  text-align: center;
  padding-bottom: 8rem;
}

.setup__game__settings {
  background-color: #fff;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 2.6rem;
}

.select__theme__box,
.select__grid__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  text-align: center;
}

.select__heading {
  color: var(--muted-blue-grey);
  font-size: 2rem;
}

.themes {
  font-size: 2.6rem;
  color: var(--very-light-grey);
  padding: 1rem 7.3rem;
  border-radius: 2.6rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--blue-grey);
}

.themes__active {
  background-color: var(--dark-blue);
}

.select__player__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  text-align: center;
}

.players,
.grids {
  font-size: 2.6rem;
  color: var(--very-light-grey);
  padding: 0.75rem 4rem;
  background-color: var(--blue-grey);
  border-radius: 2.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.players__active,
.grids__active {
  background-color: var(--dark-blue);
}

.start__game {
  border: 0;
  outline: 0;
  color: var(--very-light-grey);
  font-size: 3.2rem;
  background-color: var(--yellow);
  padding: 1rem 7rem;
  border-radius: 3.2rem;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 700;
}

.start__game:hover {
  background-color: var(--light-yellow);
}

/* <!-- Game setup end --> */

/* <!-- Game board start --> */
.game__board__section {
  background-color: var(--very-light-grey);
}

.game__board__container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 11rem;
}

.game__board__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decision__box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu {
  font-size: 1.6rem;
  color: var(--very-light-grey);
  background-color: var(--yellow);
  border-radius: 2.6rem;
  padding: 1rem 1.9rem;
  border: 0;
  outline: 0;
  display: none;
}
.restart,
.winner__restart,
.winner__new__game,
.new__game,
.resume__game {
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 2.6rem;
  transition: all 0.3s;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: 700;
}
.restart,
.winner__restart {
  color: var(--very-light-grey);
  background-color: var(--yellow);
}

.restart:hover,
.winner__restart:hover {
  background-color: var(--light-yellow);
}

.new__game,
.winner__new__game,
.resume__game {
  color: var(--dark-blue);
  background-color: var(--light-blue);
}

.new__game:hover,
.winner__new__game:hover,
.resume__game:hover {
  background-color: var(--medium-blue);
}
.resume__game {
  display: none;
}
.game__board {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
}

.game__board__4x4 {
  grid-template-columns: repeat(4, 1fr);
}
.game__board__6x6 {
  grid-template-columns: repeat(6, 1fr);
}

.game__board__4x4 .game-circle {
  height: 11.8rem;
  width: 11.8rem;
}

.game__board__6x6 .game-circle {
  height: 8.2rem;
  width: 8.2rem;
}
.game-circle {
  border-radius: 50%;
  background-color: var(--dark-blue);
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.revealed {
  background-color: var(--yellow);
}

.settled {
  background-color: var(--blue-grey);
}

.game-circle:hover {
  background-color: var(--medium-blue);
}

.game-circle.revealed:hover {
  background-color: var(--yellow);
}
.settled:hover {
  background-color: var(--blue-grey);
  cursor: default;
}

.circle-content {
  position: absolute;

  color: var(--very-light-grey);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .icons .game-circle::before {
  content: url(../assets/icons/calculator.svg);
  height: 5rem;
  width: 5rem;
} */

.numbers .game-circle::before {
  content: "";
}
.circle-content {
  opacity: 0;
  /* transform: scale(0.5); */
  transform: rotate(90deg);
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* transform: translate(-50%, -50%); */
}

.icons .circle-content {
  background-image: url(../assets/icons/calculator.svg);
  width: 5rem;
  height: 5rem;
}

.game__board__4x4 .circle-content {
  font-size: 5rem;
}
.game__board__6x6 .circle-content {
  font-size: 3rem;
}
.game-circle.revealed .circle-content {
  opacity: 1;
  transform: rotate(0) translate(-50%, -50%);
}
.game-circle.settled .circle-content {
  opacity: 1;
  transform: rotate(0) translate(-50%, -50%);
}

.multi__score__board,
.solo__score__board {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.players__box,
.solo__box {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 100%;
}

.player__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 1.5rem;
  background-color: var(--blue-grey);
  transition: all 0.3s;
  padding: 1.5rem;
}

.player__box__active {
  background-color: var(--yellow);
  z-index: 1;
}

.player__box__active::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: var(--yellow);
  transform: rotate(45deg) translateX(-30%);
  top: -1.25rem;
  left: 50%;
}

.multi__players {
  color: var(--muted-blue-grey);
  font-size: 1.8rem;
}
.small-player {
  display: none;
}
.player__box__active .multi__players,
.player__box__active .players__scores {
  color: var(--very-light-grey);
}

.players__scores,
.player__time,
.player__move {
  color: var(--dark-blue);
  font-size: 3.2rem;
}

/* .players__scores__active {
  color: var(--very-light-grey);
} */

.players__turn {
  color: var(--dark-navy-blue);
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.winner__container,
.solo__winner__container {
  width: 65.4rem;
  /* max-width: 100%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.winner__section,
.solo__winner__section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  gap: 1.6rem;
  padding: 5rem;
}
.winner__text {
  font-size: 4.8rem;
  color: var(--dark-navy-blue);
  text-align: center;
}

.winner__message {
  font-size: 1.8rem;
  color: var(--muted-blue-grey);
  text-align: center;
}

.winners__box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem 0 4rem;
}

.winner__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1.5rem 3.2rem;
  background-color: var(--light-blue);
}
.winner__player {
  font-size: 1.8rem;
  color: var(--muted-blue-grey);
}
.winner__moves,
.solo__winner__moves,
.solo__winner__time {
  color: var(--dark-blue);
  font-size: 3.2rem;
}

.winner__box__active .winner__player {
  font-size: 1.8rem;
  color: var(--very-light-grey);
}

.winner__box__active .winner__moves {
  color: var(--very-light-grey);
  font-size: 3.2rem;
}

.winner__box__active {
  background-color: var(--dark-navy-blue);
}

.winner__restart,
.winner__new__game {
  width: 100%;
}

@media (max-width: 43.75em) {
  .player__box {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .players__turn {
    display: none;
  }

  .winner__container,
  .solo__winner__container {
    width: 90%;
  }

  .player__box__active::before {
    transform: rotate(45deg) translateX(-81%);
    top: 0.25rem;
    left: 51%;
    z-index: -1;
  }

  .game__board__4x4 .game-circle {
    height: 7.3rem;
    width: 7.3rem;
  }

  .game__board__6x6 .game-circle {
    height: 4.7rem;
    width: 4.7rem;
  }
}

@media (max-width: 37.5em) {
  .primary__heading {
    font-size: 3.2rem;
    padding-bottom: 4.5rem;
  }

  .setup__game__settings {
    padding: 2.4rem;
  }

  .select__theme__box,
  .select__grid__box {
    gap: 1.1rem;
  }
  .select__heading {
    font-size: 1.5rem;
  }

  .themes {
    font-size: 1.6rem;
    padding: 1rem 3.3rem;
  }

  .select__player__box {
    gap: 1rem;
  }

  .players,
  .grids {
    font-size: 1.6rem;
    padding: 0.75rem 2.7rem;
  }

  .players__active,
  .grids__active {
    background-color: var(--dark-blue);
  }

  .start__game,
  .winner__restart,
  .winner__new__game {
    font-size: 1.8rem;
  }

  .small-player {
    display: block;
  }

  .md-player {
    display: none;
  }

  .multi__players {
    font-size: 1.5rem;
  }
  .players__scores,
  .player__time,
  .player__move {
    font-size: 2.4rem;
  }

  .game__board__4x4 .circle-content {
    font-size: 3.5rem;
  }
  .game__board__6x6 .circle-content {
    font-size: 2.5rem;
  }
  .icons .circle-content {
    width: 3rem;
    height: 3rem;
  }

  .menu {
    display: block;
  }
  .game__board__container {
    padding: 2.4rem;
    gap: 8rem;
  }
  .game__board {
    gap: 1rem;
  }
  .decision__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 2rem;

    display: none;
  }

  .resume__game {
    display: block;
  }
  .decision__box {
    flex-direction: column;
    background-color: #fff;
    padding: 2.4rem;
    border-radius: 1rem;
  }
  .resume__game,
  .restart,
  .new__game {
    width: 100%;
  }
}

@media (max-width: 28.75em) {
  .game__board__4x4 .game-circle {
    height: 6rem;
    width: 6rem;
  }

  .game__board__6x6 .game-circle {
    height: 4rem;
    width: 4rem;
  }
  .winner__text {
    font-size: 2.4rem;
  }

  .winner__message {
    font-size: 1.4rem;
  }

  .winner__box {
    padding: 1.6rem;
  }

  .winner__player,
  .winner__box__active .winner__player {
    font-size: 1.3rem;
  }
  .winner__moves,
  .solo__winner__moves,
  .solo__winner__time,
  .winner__box__active .winner__moves {
    font-size: 2rem;
  }

  .winner__section,
  .solo__winner__section {
    gap: 1.6rem;
    padding: 2.4rem;
  }

  .winners__box {
    gap: 0.8rem;
    padding: 0;
  }

  .multi__score__board,
  .solo__score__board {
    gap: 1.5rem;
  }

  .player__box__active::before {
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg) translateX(-60%);
    top: -0.25rem;
  }
  .game__board {
    margin: 0;
  }
}
