.select__heading {
  color: var(--muted-blue-grey);
  font-size: 2rem;
}

.select__box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.hover:hover {
  background-color: var(--medium-blue);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}
